<h1>Usuarios</h1>
<hr />
<div class="row">
  <div class="col-md-12 text-right">
    <button
      [routerLink]="['/user', 'nuevo']"
      class="btn btn-outline-primary"
      type="button"
      name="button"
    >
      Nuevo
    </button>
  </div>
</div>
<br />
<div class="row animated fadeIn fast">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Genero</th>
            <th scope="col">Edad</th>
            <th scope="col">Rol</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let id of (users | ids); let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ users[id].name }}</td>
            <td>{{ users[id].gender }}</td>
            <td>{{ users[id].age }}</td>
            <td>{{ users[id].role }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
